$icon-font-path: '../fonts/';
//load all plugins and components
// bower:scss
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
// endbower

//load common mixin functions fist
@import "plugins/plugin_mixin_func";
//load config
@import "plugins/plugin_config";

a:active,
a:link,
a:focus,
a:hover{
  color: darken($main_black, 100%);
  text-decoration: none !important;
}
a.custom_button{
  color: #ffffff;
}
a.custom_button:hover{
  color: darken(#ffffff, 10%);
}
.font_reDraw{}

@import "plugins/plugin_switch_box";

//load manually components
@import "components/component_loading";

//styles for laptop
@import "components/component_laptop";

//styles for mobile
@import "components/component_mobile";

