@import "../plugins/plugin_common";
@import "../plugins/plugin_config";

.frame_list_box{
  position: absolute;
  z-index: -1;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  border: none;
  visibility: hidden;
  opacity: 0;
  @include transition();
  background-color: #ffffff;
  &.padding_top{
    padding-top: 35px;
  }
  &.active{
    z-index: 10;
    visibility: visible;
    opacity: 1;
  }
  -webkit-overflow-scrolling:touch;
  overflow:auto;
}
